<div class="md-whiteframe-z1 resource-container" layout="column">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <md-icon md-font-icon="class">class</md-icon>
      <h2 flex>{{ services.length }} Services</h2>
    </div>
  </md-toolbar>
  <md-content flex>
    <md-list class="md-dense" flex>
      <md-list-item class="md-2-line" ng-repeat="svc in services">
        <div class="md-list-item-text" layout="column">
          <h3>{{svc.metadata.name}}</h3>
          <p><span ng-if="svc.status.loadBalancer.ingress">{{ svc.status.loadBalancer.ingress[0].ip }}</span></p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>

</div>