<div class="md-whiteframe-z1 resource-container" layout="column">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <md-icon md-font-icon="control_point_duplicate">control_point_duplicate</md-icon>
      <h2 flex> {{ rcs.length }} Replication Controllers</h2>
    </div>
  </md-toolbar>
  <md-content flex>
    <md-list class="md-dense" flex>
      <md-list-item ng-repeat="rc in rcs" layout="row">
        <md-tooltip md-direction="right">
          {{rc.status.replicas}}/{{rc.spec.replicas}} replicas
        </md-tooltip>
        <span class="rc-progress" flex="30" ng-class="{ warning: rc.status.replicas < rc.spec.replicas }">
          <md-progress-linear
                  md-mode="determinate"
                  value="{{(rc.status.replicas / rc.spec.replicas) * 100}}">
          </md-progress-linear>
        </span>
        <span flex="60">{{rc.metadata.name}}</span>
        <span flex="10">{{rc.status.replicas}} / {{rc.spec.replicas}}</span>
      </md-list-item>
    </md-list>
  </md-content>

</div>
<!--<div class="panel panel-default">-->
<!--<div class="panel-heading">-->
<!--<h3 class="panel-title">{{ rcs.length }} Replication Controllers</h3>-->
<!--</div>-->
<!--<table class="table table-striped"  >-->
<!--<thead>-->
<!--<th>Name</th>-->
<!--<th>Replications</th>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr ng-repeat="rc in rcs">-->
<!--<td><a href="" ng-click="openModal(rc)">{{rc.metadata.name}}</a></td>-->
<!--<td>-->
<!--<div class="progress" style="margin-bottom: 0 !important;">-->
<!--<div class="progress-bar"-->
<!--role="progressbar"-->
<!--aria-valuenow="60"-->
<!--aria-valuemin="0"-->
<!--aria-valuemax="100"-->
<!--style="width: {{(rc.status.replicas / rc.spec.replicas) * 100}}%; min-width: 3em;"-->
<!--ng-class="{ 'progress-bar-warning': (rc.status.replicas < rc.spec.replicas && rc.status.replicas > 0), 'progress-bar-danger': (rc.status.replicas == 0), 'progress-bar-success': (rc.status.replicas == rc.spec.replicas) }">-->
<!--{{rc.status.replicas}} / {{rc.spec.replicas}}-->
<!--</div>-->
<!--</div>-->
<!--</td>-->
<!--</tr>-->
<!--</tbody>-->

<!--</table>-->
<!--</div>-->
