<div class="resource-container md-whiteframe-z1" layout="column">
  <div layout="row" layout-padding>
    <md-icon md-font-icon="control_point_duplicate">control_point_duplicate</md-icon>
    <span class="md-title" flex>Replication Controllers</span>
  </div>
  <md-divider></md-divider>
  <md-list class="md-dense" flex>
    <md-list-item ng-repeat="rc in rcs" layout="row" ng-click="openModal(pod)">
      <span flex="10" class="md-caption">{{rc.status.replicas}} / {{rc.spec.replicas}}</span>
      <span class="rc-progress" flex="30">
        <md-progress-linear
                ng-class="{ 'md-warn': rc.status.replicas < rc.spec.replicas }"
                md-mode="determinate"
                value="{{(rc.status.replicas / rc.spec.replicas) * 100}}">
        </md-progress-linear>
      </span>
      <span flex="60">{{rc.metadata.name}}</span>

    </md-list-item>
  </md-list>
</div>