<div layout="column">
  <md-tabs md-dynamic-height md-border-bottom flex>
    <md-tab label="{{namespace.metadata.name}}"
            ui-sref="app.dashboard.namespace({ namespace: namespace.metadata.name })"
            ng-repeat="namespace in namespaces">

    </md-tab>
  </md-tabs>
  <md-content layout="column" layout-padding flex>
    <div layout="row" layout-padding>
      <div ui-view="rcs" flex="50"></div>
      <div ui-view="services" flex="50"></div>
    </div>
    <div ui-view="pods" flex layout-padding></div>
  </md-content>

</div>