#memoryChart .nv-pie-title {
  fill: gray;
}


md-list-item.active {
  background-color: #ECEFF1;
}

#main {
  background-color: rgb(245, 245, 245);
}

#namespaces md-tabs-wrapper {
  border-width: 0;
}

#dashboard {
  background-color: rgb(245, 245, 245);
}

.z-index-2 {
  z-index: 2;
}

.resource-container {
  padding: 0;
  border-radius: 2px;
  z-index: 1;
  background-color: #ffffff;
}
.resource-container md-content {
  border-radius: 2px;
}

.rc-progress {
  margin-right: 12px;
}

.resource-container md-toolbar md-icon{
  margin-right: 8px;
}
.resource-container md-list md-list-item {
  min-height: 32px;
}

.warning .md-bar.md-bar2 {
  background-color: #ec0600;
}


.text-grey {
  color: #80807e;
}
.text-red {
  color: #ec0600;
}
.text-green {
  color: #00b613;
}
.text-orange {
  color: #ff8b00;
}