<div class="col-md-12 main container-fluid">
  <form>
    <div class="form-group">
      <input type="search" class="form-control" placeholder="Search" ng-model="filterText">
    </div>
  </form>

  <table class="table table-condensed"  >
    <thead>
    <th><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Time</th>
    <th>Source</th>
    <th>Message</th>
    <th>Involved Object</th>
    <th>Type</th>
    <th>Reason</th>
    <th>NS</th>
    </thead>
    <tbody>
    <tr ng-repeat="event in events | filter: filterText" ng-class="{ success: (event.reason=='created' || event.reason=='successfulCreate'), danger: event.reason=='killing'}">
      <td>{{event.firstTimestamp | date: 'MMM d, HH:mm'}}</td>
      <td>{{event.source.component}}</td>
      <td>{{event.message}}</td>
      <td>
        <a href=""
           ng-click="openPodModal(event.involvedObject.namespace, event.involvedObject.name)"
           ng-if="event.involvedObject.kind==='Pod'">
          {{event.involvedObject.name}}
        </a>
        <span ng-if="event.involvedObject.kind!=='Pod'">{{event.involvedObject.name}}</span>
      </td>
      <td><span class="label label-default">{{event.involvedObject.kind}}</span></td>
      <td>{{event.reason}}</td>
      <td><span class="label label-primary">{{event.metadata.namespace}}</span></td>
    </tr>
    </tbody>

  </table>
</div>
